@import-normalize;




ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3,1fr);
}

img{
  display: block;
  width: 100%;
}

li{
  outline: 1px solid white;
  padding: 20px;
  border-radius: 25px;
}

button{
  background-color: transparent;
  border: 1px solid white;
  padding: 20px;
  border-radius: 25px;
  font-weight: 900;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}